.custom-style {
  thead tr {
    th {
      padding: 1em 5em;
    }

    .index-col {
      padding: 1em 1em;
    }
  }

  .table-hover tbody tr:hover td {
    background: #ebf2ff;
  }

  .highlighted td {
    background: #fff878 !important;
  }
}
